<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=T-Shirts" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'products' %}?category=Jackets" class="dropdown-item">Jackets</a>
                <a href="{% url 'products' %}?category=Tracksuits" class="dropdown-item">Tracksuits</a>
                <a href="{% url 'products' %}?category=Accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=T-Shirts,Jackets,Tracksuits,Accessories" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="brands-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="brands-link">
                <a href="{% url 'products' %}?category=Jordans" class="dropdown-item">Jordans</a> 
                <a href="{% url 'products' %}?category=Nike" class="dropdown-item">Nike</a> 
                <a href="{% url 'products' %}?category=Trapstar" class="dropdown-item">Trapstar</a>
                <a href="{% url 'products' %}?category=Timberland,Jordans,Nike,Corteiz,Trapstar" class="dropdown-item">All Brands</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="winter-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Winter Is Coming
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="winter-link">
                <a href="{% url 'products' %}?category=Hats" class="dropdown-item">Hats</a>
                <a href="{% url 'products' %}?category=Jackets" class="dropdown-item">Jackets</a>
                <a href="{% url 'products' %}?category=Hats,Coats,Jackets" class="dropdown-item">Shop All Winter Items</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sneaker-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sneakers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sneaker-link">
                <a href="{% url 'products' %}?category=Jordan 1s" class="dropdown-item">Jordan 1s</a>
                <a href="{% url 'products' %}?category=Jordan 4s" class="dropdown-item">Jordan 4s</a>
                <a href="{% url 'products' %}?category=Airforces" class="dropdown-item">Airforces</a>
                <a href="{% url 'products' %}?category=Dunks" class="dropdown-item">Dunks</a>

        
                <a href="{% url 'products' %}?category=Jordan 1s,Jordan 4s,Airforces,Dunks" class="dropdown-item">All Sneakers</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sneaker-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sneaker-link">
                <a href="{% url 'products' %}" class="dropdown-item">FaceBook Page</a>
                <a href="{% url 'newsletter' %}" class="dropdown-item">Subscribe to Newsletter</a>
                

            </div>
        </li>
    </ul>
</div>